{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_cover~cover.img }}');">
 		<div class="banner-caption">
 			<h2>{{ attribute(data, 'title_'~lang) }}</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section class="content-p-top">
     <div class="container">
          
          <div class="agent">
              <h3 class="title color-violet2 text-center">{{ attribute(data, 'title_'~lang) }}</h3>
              <div class="text-center">
                {{ attribute(data, 'caption_'~lang)|nl2br }}
              </div>

              <div class="row my-5">
                <div class="col-md-4 pr-5">
                    {% set img = trim(data.img) == '' ?  link_img~'default/staff.png' : link_company~data.img %}
                    <div class="staff-img"><img class="img-fluid" src="{{ img }}"></div>
                </div>
                <div class="col-md-8">
                    <div class="">
                      <div class="agent-info row px-5 py-5 ">
                        <div class="col-md-12">
                          <h6 class="color-violet2">{{ attribute(data, 'name_'~lang) }}</h6>
                          <p class="color-violet2">{{ attribute(data, 'position_'~lang) }}</p>

                          <div>
                            {% autoescape %}
                              {{ attribute(data,'desc_'~lang)|raw }}
                            {% endautoescape %} 
                          </div>

                          <div class="link mt-3 ">
                            <ul class="list-inline mb-0">
                              
                              <li class="list-inline-item">
                                  <img  src="{{ link_img }}icon/icon-link.png">
                              </li>
                              <li class="list-inline-item">
                                  <a href="{{ data.link }}" target="_blank">เข้าสู่เว็บไซต์</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="row agent-contact bg-violet2 px-5 py-3 ">
                        <div class="col-md-6">
                          <div class="media">
                            <img class="align-self-center mr-3" src="{{ link_img }}icon/icon-location-white.png" alt="">
                            <div class="media-body">
                              <h5 class="mt-0">Address</h5>
                              <p>
                                {{ attribute(data, 'address_'~lang)|nl2br }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="media">
                            <img class="align-self-center mr-3" src="{{ link_img }}icon/icon-tel-footer.png" alt="">
                            <div class="media-body">
                              <h5 class="mt-0">Address</h5>
                              <p><a href="tel:{{ data.tel }}" style="color:inherit">{{ data.tel }}</a><br><a href="mailto:{{ data.email }}" style="color:inherit">{{ data.email }}</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              
          </div>

          
     </div>
     
  </section>
{% endblock %}

{% block js %}{% endblock %}
