{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_img }}banner-main5.png');">
 		<div class="banner-caption">
 			<h2>ตัวแทน พรูเด็นเชียล</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section class="content-p-top">
     <div class="container">
          
          <div class="agent">
              <h3 class="title color-violet2 text-center">ตัวแทน พรูเดนเชียล</h3>
              <div class="text-center">
                โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง<br> สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า
              </div>

              <div class="row my-5">
                <div class="col-md-4 pr-5">
                    <div class="staff-img"><img class="img-fluid" src="{{ link_img }}staff3.png"></div>
                </div>
                <div class="col-md-8">
                    <div class="">
                      <div class="agent-info row px-5 py-5 ">
                        <div class="col-md-12">
                          <h6 class="color-violet2">Cowel Ben</h6>
                          <p class="color-violet2">(เอ ไอ เอ)</p>

                          <div>
                            โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า
                            <br> <br>
                            ข้อความโลเร็ม อิปซัมเป็นข้อความส่วนหนึ่งในภาษาละตินที่แต่งโดย ซิเซโร โดยมีการตัดต่อคำให้ดูเหมือนเป็นข้อความที่ไม่มีความหมายและไม่ใช่ภาษาละตินที่ถูกต้อง
                          </div>

                          <div class="link mt-3 ">
                            <ul class="list-inline mb-0">
                              
                              <li class="list-inline-item">
                                  <img  src="{{ link_img }}icon/icon-link.png">
                              </li>
                              <li class="list-inline-item">
                                  <a href="tel:02-201-1000">เข้าสู่เว็บไซต์  พรูเดนเชียล</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="row agent-contact bg-violet2 px-5 py-3 ">
                        <div class="col-md-6">
                          <div class="media">
                            <img class="align-self-center mr-3" src="{{ link_img }}icon/icon-location-white.png" alt="">
                            <div class="media-body">
                              <h5 class="mt-0">Address</h5>
                              <p>PO Box 16122 Collins Street West<br> Victoria - Australia Zip - 3000</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="media">
                            <img class="align-self-center mr-3" src="{{ link_img }}icon/icon-tel-footer.png" alt="">
                            <div class="media-body">
                              <h5 class="mt-0">Address</h5>
                              <p>+66 3 8376 6284 <br>
                                  cowel.ben@ip.com</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              
          </div>

          
     </div>
     
  </section>
{% endblock %}

{% block js %}{% endblock %}