{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_cover~cover.img }}');">
 		<div class="banner-caption">
 			<h2>{{ attribute(cover, 'title_'~lang) }}</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section class="content-p-top">
     <div class="container">
          <div class="">
              <h3 class="title color-violet2 text-center">{{ attribute(data, 'title_'~lang) }}</h3>
              <div class="text-center">
                {{ attribute(data, 'subtitle_'~lang)|nl2br }}
              </div>

              <div class="row my-5">
                <div class="col-md-6">
                  <div class="bg-gray contact-list text-center">
                      <img src="{{ link_img }}icon/icon-location.png">
                      <h6 class="color-violet2 my-3">{{ label('address') }}</h6>
                      <p>
                        {{ attribute(data, 'address_'~lang)|nl2br }}
                      </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-gray contact-list text-center">
                      <img src="{{ link_img }}icon/icon-time.png">
                      <h6 class="color-violet2 my-3">{{ label('time') }}</h6>
                      <p>
                        {{ attribute(data, 'time_'~lang)|nl2br }}
                      </p>
                  </div>
                </div>
              </div>

              <div class="row mt-5 bg-gray contact-list">
                <div class="col-md-12 text-center">
                    <a href="tel: {{ data.claim_tel }}"><h4 class="color-violet2 mb-4" >{{ label('contact_') }}  ( {{ data.claim_tel }} )</h4></a>
                    <a href="{{ data.claim_link }}" target="_blank" class="btn btn-violet">{{ label('view_info') }}</a>
                </div>
              </div>
              
          </div>

          <div class="content-p-top">
              <h3 class="color-violet2 text-center title">{{ label('contact') }}</h3>
              <p class="text-center">โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อ</p>

              <form class="mt-5" action="{{ base_url('contact/sendMsg') }}" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-custom" type="text" name="name" placeholder="{{ label('name') }}" required>
                    </div>
                    <div class="form-group">
                      <input class="form-custom" type="email" name="email" placeholder="{{ label('email') }}" required>
                    </div>
                    <div class="form-group">
                      <input class="form-custom" type="text" name="card_id" placeholder="{{ label('idcard') }}" required>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-custom" type="text" name="subject" placeholder="{{ label('topic') }}" required>
                    </div>
                    <div class="form-group">
                      <input class="form-custom" type="text" name="tel" placeholder="{{ label('tel') }}" required>
                    </div>
                    <div class="form-group">
                      <input class="form-custom" type="text" name="policy_number" placeholder="{{ label('id_insurance') }}" required>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-custom" rows="6" name="message" laceholder="{{ label('messages') }}" required></textarea>
                    </div>
                  </div>

                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-violet">{{ label('sent') }}</button>
                  </div>
                </div>
              </form>
          </div>
     </div>
     
  </section>
{% endblock %}

{% block js %}{% endblock %}