{% extends "layout.twig" %}

{% block content %}
<section id="main-slide">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key, value in banner %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ key }}" class="{{ key == 0 ? 'active' : '' }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for key, value in banner %}
            {% set img = trim(value.img) == '' ?  link_img~'default/banner.png' : link_banner~value.img %}
            <div class="carousel-item {{ key == 0 ? 'active' : '' }}">
                <div class="overlay"></div>
                <img class="d-block w-100" src="{{ img }}" alt="{{ attribute(value,'title_'~lang) }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ attribute(value,'title_'~lang) }}</h5>
                    <p>{{ attribute(value,'subtitle_'~lang) }}</p>
                    {% if value.link %}<a class="btn btn-violet" href="{{ value.link }}">{{ label('detail') }}</a>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
        </div>
</section>

<section id="content" class="content-p-top ser">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 dotcom-img">
                {% for key, value in dotcom %}
                {% set img = trim(value.img) == '' ?  link_img~'default/dotcom.png' : link_home~value.img %}
                <img class="img-fluid" style="{{ key == 0 ? '' : 'display: none' }}" src="{{ img }}" alt="{{ attribute(value,'title_'~lang) }}"/>
                {% endfor %}
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <h3 class="title color-violet2">{{ attribute(dotcom_headline,'title_'~lang) }}</h3>
                <p>
                    {{ attribute(dotcom_headline,'subtitle_'~lang) }}
                </p>

                <ul class="home-services">
                    {% for key, value in dotcom %}
                    {% set icon = trim(value.icon) == '' ?  link_img~'default/icon.png' : link_home~value.icon %}
                    <li class="list list{{ key + 1 }} {{ key == 0 ? 'active' : '' }}">
                        <div>
                            <div class="icon">
                                <img src="{{ icon }}">
                            </div>
                            <h4>{{ attribute(value,'title_'~lang) }}</h4>
                            <p>{{ attribute(value,'desc_'~lang) }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Service 1 -->

<section id="service2" class="content-p-top ser ">
    <div class="container">
        <div class="row d-flex">
            
            <div class="col-12 col-sm-12 col-md-6 order-1">
                <h3 class="title color-violet2">{{ label('insurance_kids') }}</h3>

                <div class="row service2 text-center">
                    {% if info %}
                        {% for key, value in info %}
                            <div class="col">
                                    <div class="list_ active">
                                    <div class="s-list " id="s-list{{key+1}}" >
                                        <div class="icon icon1" style=" background-image: url('{{ base_url('upload/thumb/insurance/')~value.icon }}') "></div>
                                        <h4>{{ attribute(value,'title_'~lang) }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if info %}
                        {% for key, value in info %}

                    <div class="service-content s-list{{key+1}} ">
                        {{ attribute(value,'caption_'~lang) }}
                        <p class="color-violet2">{{ attribute(value,'note_'~lang) }}</p>

                        <div class="d-center"><a class="btn btn-violet" href="{{ base_url('info/detail/')~value.id }}">ดูรายละเอียด</a></div>
                    </div>

                    {% endfor %}
                {% endif %}

            </div>

            <div class="col-12 col-sm-12 col-md-6 order-2">
                {% for key, value in insur_img %}
                    {% set img = trim(value.img) == '' ?  link_img~'default/dotcom.png' : base_url('upload/fullsize/insurance/')~value.img %}
                    <img class="img-fluid s-list{{key+1}}" src="{{ img }}" alt="img15"/>
                 {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Service 2 -->

<section id="news" class="content-p-top content-p-bottom ">
    <div class="container text-center">
        <h3 class="title color-violet2">{{ label('momandkids') }}</h3>

        <div class="news-wrapper mt-4 row">
            {% for value in news_lastest %}
            <div class="col-12 col-md-4 col-xl-4">
                <div class="card" >
                    <div class="card-img">
                        <a href="{{ base_url('momandkids/detail/')~value.id }}">
                        <img class="card-img-top" src="{{ base_url('upload/fullsize/news/')~value.img }}" alt="Card image cap">
                        <div class="news-date">
                            <div> {{ value.date|date('d') }} <br> {{ value.date|date('F') }}</div>
                        </div>
                        </a>
                    </div>
                    <div class="card-body text-left">
                    <a href="{{ base_url('momandkids/detail/')~value.id }}">
                        <h5 class="card-title">{{ attribute(value,'title_'~lang)|slice(0, 40) ~ '...' }}</h5>
                        <p class="card-text">{{ attribute(value,'caption_'~lang)|slice(0, 40) ~ '...' }}</p>
                        <p class="color-violet2">{{ label('readmore') }} <img src="{{ link_img }}icon/icon-right.png"></p>
                    </a>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>

        <div class="text-center load-more">
            <a class="btn btn-violet" href="{{ base_url('momandkids') }}">{{ label('readall') }}</a>
        </div>
    </div>
</section>
<!-- End News -->

<section id="home-contact" class="content-p-top bg-gray content-p-bottom home-contact-inner">
    <div class="container  ">
        <h3 class="title color-violet2"><img draggable="false" class="emoji" alt="" src="{{ link_img }}icon/phone-contact.png"> {{ label('contactyou') }}</h3>
        <form class="row mt-5 contact-position"  action="{{ base_url('contact/sendMsgKids') }}" method="post">
              <div class="col-md-12 col-xl-6">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input class="form-custom" type="text" name="name" placeholder="{{ label('yourname') }}">
                          </div>
                           <div class="form-group">
                              <input class="form-custom" type="email" name="email" placeholder="{{ label('email') }}">
                          </div>
                           <div class="form-group">
                              <input class="form-custom" type="text" name="tel" placeholder="{{ label('tel') }}">
                          </div>
                      </div>
                      <div class="col-md-6">
                           <div class="form-group">
                              <input id="datepicker" class="form-custom" type="text" name="date" placeholder="{{ label('bd') }}">
                          </div>
                          <div class="form-group select-wrapper">
                              <select class="form-custom" name="insurance_id">
                                <option value="" disabled selected>{{ label('select_insurance') }}</option>
                                {% for value in nav.insurance %}
                                <option value="{{ value.id }}">{{ attribute(value, 'title_'~lang) }}</option>
                                {% endfor %}
                              </select>
                          </div>
                          <div class="form-group d-center">
                              <button type="submit" class="btn btn-violet">{{ label('sent') }}</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
    </div>
    <img  class="c-img" src="{{ link_img }}baby.png">
</section>
<!-- home-contact -->   

<section id="home-reviews" class="content-p-top content-p-bottom ">
    <div class="container text-center">
        <h3 class="title color-violet2">{{ label('review_form_customer') }}</h3>

        
        <div class="owl-carousel owl-theme mt-5">
            {% for key, value in review %}
           
            {% set img = trim(value.img) == '' ?  link_img~'default/review.png' : link_review~value.img %}
            <div class="item">
                <div class="card" >
                    <div class="text-center">
                        <img class="" src="{{ img }}" alt="{{ attribute(value,'title_'~lang) }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title color-violet">{{ attribute(value,'title_'~lang) }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ attribute(value,'subtitle_'~lang) }}</h6>
                        <p class="card-text">{{ attribute(value,'desc_'~lang) }}</p>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    (function(){
        $('.owl-carousel').owlCarousel({
            /*loop:true,*/
            autoplay:true,
            margin:10,
            dots: true,
            nav: false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        });

        $('#content .home-services li').click(function(){
            var index = $(this).index();
            $('#content .dotcom-img img').hide().eq(index).fadeIn(300);
            $('#content .home-services li').removeClass('active').eq(index).addClass('active');
        });

        $('.service-content').hide();
        $('.order-2 img').hide();
        $('.s-list1').show();
        $('.order-2 img.s-list1').show();
        $('#service2 .list_ .s-list ').click(function(){

        $('.service-content').hide();
        $('.order-2 img').hide();
        var index2 = $(this).attr('id');
        

        $("."+index2).show();

        });
    })();
</script>
{% endblock %}