{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_cover~cover.img }}');">
 		<div class="banner-caption">
 			<h2>{{ attribute(cover, 'title_'~lang) }}</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section class="content-p-top">
     <div class="container">
          
          <div class="">
              <h3 class="title color-violet2 text-center">{{ attribute(headline, 'title_'~lang) }}</h3>
              <div class="text-center">
                {{ attribute(headline, 'subtitle_'~lang)|nl2br }}
              </div>

              <div class="py-5 list-head">
                <form class="">
                  <div class="row">
                      <div class="col-sm-8">
                          <div class="input-group ">
                            <input  type="text" class="form-custom search" id="input-filter" placeholder="ค้นหาโรงพยาบาล">
                          </div>
                      </div>
                      
                      <div class="col-sm-4">
                          <div class="row">
                            <label for="inputPassword" class="col-sm-4  color-violet2 label-filter">Filters :</label>
                            <div class="col-sm-8">
                              <div class="select-wrapper">
                                  <select class="form-custom" id="select-filter">
                                    <option value="0">ทั้งหมด*</option>
                                    {% for value in province %}
                                    <option value="{{ value.id }}">{{ attribute(value, 'name_'~lang) }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </form>

                  <div class="mt-4">
                    <div id="accordion" class="accordion">
                      {% for key, value in data %}
                      <div class="card" data-filter="{{ attribute(value, 'name_'~lang) }}" data-province="{{ value.province_id }}">
                        <div class="card-header" id="heading{{ key }}">
                          <h5 class="mb-0">
                            <button class="btn btn-link {{ key == 0 ? '' : 'collapsed' }}" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="{{ key == 0 }}" aria-controls="collapse{{ key }}">
                              <img src="{{ link_img }}icon/icon-hospital.png"> {{ attribute(value, 'name_'~lang) }}
                            </button>
                          </h5>
                        </div>
                        <div id="collapse{{ key }}" class="collapse {{ key == 0 ? 'show' : '' }}" aria-labelledby="heading{{ key }}" data-parent="#accordion">
                          <div class="card-body">
                            {% set room = json_decode(attribute(value, 'room_'~lang) ) %}
                            {% set price = json_decode(value.price) %}
                            {% for key, value in room %}
                            <div class="list-hospital">
                              <ul>
                                <li>{{ value }}</li>
                                <li>{{ price[key] }}</li>
                              </ul>
                            </div>
                            {% endfor %}
                            <div class="link mt-3 ">
                              <ul class="list-inline mb-0">
                                
                                {% if value.tel|trim %}
                                <li class="list-inline-item">
                                    <img src="{{ link_img }}icon/icon-tel.png">
                                </li>
                                <li class="list-inline-item">
                                    <a href="tel:{{ value.tel }}">{{ value.tel }}</a>
                                </li>
                                {% endif %}

                                {% if value.link|trim %}
                                <li class="list-inline-item">
                                    <img src="{{ link_img }}icon/icon-link.png">
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{ value.link }}" target="_blank">เข้าเว็บไซต์</a>
                                </li>
                                {% endif %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>

                    {# <div class="text-center">
                      <p><img src="{{ link_img }}icon/icon-loading.png"></p>
                      <p class="color-violet2">กำลังโหลดเพิ่ม</p>
                    </div> #}
                  </div>
              </div>

              
          </div>
     </div>
     
  </section>
{% endblock %}

{% block js %}
<script>
(function(){
  var province = null;
  var text = null;
  $('#select-filter').change(function(){
    var val = $(this).val();
    $('#accordion .card').hide();
    $('#accordion .card[data-province="'+val+'"]').fadeIn(300);
    province = val;
  });
  $('#input-filter').keyup(function(){
    var val = $(this).val();
    text = val;
    $('#accordion .card').hide();
    if(val.trim() == ''){
      $('#accordion .card').fadeIn(300);
    }else{
      $('#accordion .card[data-filter*="'+val+'"]').fadeIn(300);
    }
  });
})();
</script>
{% endblock %}