{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_img }}banner-main.png');">
 		<div class="banner-caption">
 			<h2>ประกันสุขภาพลูก</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
 	<section id="main" class=" page-insurance">
 		<div class="container">
 			<div class="content-p-top content-p-bottom ">
 				 <h3 class="title color-violet2 text-center">ประกันสุขภาพลูกทั้งหมด</h3>
 			</div>
 			<div class="row">
	 			<div class="col-12 col-md-6">
	 				<div class="service2">
	 					<div class="list_ active">
                  <div class="icon icon1 "></div>
                  <h4 class="text-center">ผ่อนหนักให้เป็นเบา</h4>
                  <div class="service-content text-center">
                    <p>
                    	ยามที่ลูกยังเล็ก สิ่งที่เรากังวลมากที่สุดอย่างหนึ่งคือ การเจ็บป่วย และอุบัติเหตุ และไม่ว่าใครก็ไม่สามารถเนรมิตโลกของลูกน้อยให้ปลอดภัยได้อย่างสมบูรณ์แบบ
                    </p>
                    <p class="color-violet2">- เหมาะสำหรับลูกรักที่เริ่มทำประกันครั้งแรกตั้งแต่อายุ 0 - 5 ปี</p>

                    <a class="btn btn-violet" href="{{ base_url('info/detail/1') }}">ดูรายละเอียด</a>
                </div>
              </div>
	 				</div>
	 			</div>
	 			<div class="col-12 col-md-6">
	 				<div class="service2">
	 					<div class="list_ active">
                  <div class="icon icon2 "></div>
                  <h4 class="text-center">เบากระเป๋า</h4>
                  <div class="service-content text-center">
                    <p>
                    	ยามที่ลูกยังเล็ก สิ่งที่เรากังวลมากที่สุดอย่างหนึ่งคือ การเจ็บป่วย และอุบัติเหตุ และไม่ว่าใครก็ไม่สามารถเนรมิตโลกของลูกน้อยให้ปลอดภัยได้อย่างสมบูรณ์แบบ
                    </p>
                    <p class="color-violet2">- เหมาะสำหรับลูกรักที่เริ่มทำประกันครั้งแรกตั้งแต่อายุ 0 - 5 ปี</p>

                    <a class="btn btn-violet" href="{{ base_url('info/detail/2') }}">ดูรายละเอียด</a>
                </div>
              </div>
	 				</div>
	 			</div>
	 			<div class="col-12 col-md-6">
	 				<div class="service2">
	 					<div class="list_ active">
                  <div class="icon icon1 "></div>
                  <h4 class="text-center">เบาใจเหมาจ่าย</h4>
                  <div class="service-content text-center">
                    <p>
                    	ยามที่ลูกยังเล็ก สิ่งที่เรากังวลมากที่สุดอย่างหนึ่งคือ การเจ็บป่วย และอุบัติเหตุ และไม่ว่าใครก็ไม่สามารถเนรมิตโลกของลูกน้อยให้ปลอดภัยได้อย่างสมบูรณ์แบบ
                    </p>
                    <p class="color-violet2">- เหมาะสำหรับลูกรักที่เริ่มทำประกันครั้งแรกตั้งแต่อายุ 0 - 5 ปี</p>

                    <a class="btn btn-violet" href="{{ base_url('info/detail/3') }}">ดูรายละเอียด</a>
                </div>
              </div>
	 				</div>
	 			</div>
	 			<div class="col-12 col-md-6">
	 				<div class="service2">
	 					<div class="list_ active">
                  <div class="icon icon2 "></div>
                  <h4 class="text-center">เบี้ยไม่ทิ้ง</h4>
                  <div class="service-content text-center">
                    <p>
                    	ยามที่ลูกยังเล็ก สิ่งที่เรากังวลมากที่สุดอย่างหนึ่งคือ การเจ็บป่วย และอุบัติเหตุ และไม่ว่าใครก็ไม่สามารถเนรมิตโลกของลูกน้อยให้ปลอดภัยได้อย่างสมบูรณ์แบบ
                    </p>
                    <p class="color-violet2">- เหมาะสำหรับลูกรักที่เริ่มทำประกันครั้งแรกตั้งแต่อายุ 0 - 5 ปี</p>

                    <a class="btn btn-violet" href="{{ base_url('info/detail/4') }}">ดูรายละเอียด</a>
                </div>
              </div>
	 				</div>
	 			</div>
	 		</div>
 		</div>
 	</section>
 	<section>
 		<div class="h150"></div>
 	</section>
 	<section id="home-contact" class="content-p-top bg-gray content-p-bottom home-contact-inner">
      <div class="container  ">
          <h3 class="title color-violet2"><img draggable="false" class="emoji" alt="" src="{{ link_img }}icon/phone-contact.png"> ให้เราติดต่อคุณ</h3>

          <div class="row mt-5 contact-position">
              <div class="col-md-12 col-xl-6">

                  <div class="row ">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input class="form-custom" type="" name="" placeholder="ชื่อของคุณ">
                          </div>
                           <div class="form-group">
                              <input class="form-custom" type="" name="" placeholder="อีเมล์">
                          </div>
                           <div class="form-group">
                              <input class="form-custom" type="" name="" placeholder="เบอร์โทรศัพท์">
                          </div>
                      </div>
                      <div class="col-md-6">
                           <div class="form-group">
                              <input class="form-custom" type="" name="" placeholder="วันเกิดลูก*">
                          </div>
                          <div class="form-group select-wrapper">
                              <select class="form-custom">
                                  <option>ประเภทประกันที่สนใจ*</option>
                                  <option>ประเภทประกันที่สนใจ*</option>
                                  <option>ประเภทประกันที่สนใจ*</option>
                              </select>
                          </div>
                           <div class="form-group d-center">
                              <a class="btn btn-violet " href="#">ดูข่าวทั้งหมด</a>
                          </div>
                      </div>
                  </div>
              </div>
             
          </div>

      </div>
     <img  class="c-img" src="{{ link_img }}baby.png">
    </section>
  <!-- home-contact -->   
    <section class="content-p-top content-p-bottom">
       <div class="container">
            <div class="content-pcontent-p">
                <h3 class="title color-violet2 text-center">ทำไมต้องเลือกประกันลูก</h3>
                <div class="text-center mt-4 mb-4">
                    โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม อิปซัมเป็นข้อความส่วนหนึ่งในภาษาละตินที่แต่งโดย ซิเซโร โดยมีการตัดต่อคำให้ดูเหมือนเป็นข้อความที่ไม่มีความหมายและไม่ใช่ภาษาละตินที่ถูกต้อง
                </div>

                <div class="in-list">
                    <div class="row">
                       <div class="col-md-6">
                           <div class="media">
                              <img width="80" class="align-self-center mr-3" src="{{ link_img }}icon/icon1.png" alt="">
                              <div class="media-body align-self-center">
                                <h5 class="mt-0 color-violet2">โลเล็ม อิปซัม</h5>
                                <p class="mb-0">โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ ใช้ทดสอบหน้าเว็บไซตโลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ ใช้ทดสอบหน้าเว็บไซต์</p>
                               
                              </div>
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="media">
                              <img width="80" class="align-self-center mr-3" src="{{ link_img }}icon/icon2.png" alt="">
                              <div class="media-body align-self-center">
                                <h5 class="mt-0 color-violet2">โลเล็ม อิปซัม</h5>
                                <p class="mb-0">โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ ใช้ทดสอบหน้าเว็บไซต์</p>
                               
                              </div>
                            </div>
                       </div>
                       <div class="col-md-6">
                           <div class="media">
                              <img width="80" class="align-self-center mr-3" src="{{ link_img }}icon/icon3.png" alt="">
                              <div class="media-body align-self-center">
                                <h5 class="mt-0 color-violet2">โลเล็ม อิปซัม</h5>
                                <p class="mb-0">โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ ใช้ทดสอบหน้าเว็บไซต์</p>
                               
                              </div>
                            </div>
                       </div>
                       <div class="col-md-6">
                           <div class="media">
                              <img width="80" class="align-self-center mr-3" src="{{ link_img }}icon/icon4.png" alt="">
                              <div class="media-body align-self-center">
                                <h5 class="mt-0 color-violet2">โลเล็ม อิปซัม</h5>
                                <p class="mb-0">โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ ใช้ทดสอบหน้าเว็บไซต์</p>
                               
                              </div>
                            </div>
                       </div>
                    </div>
               </div>
            </div>
       </div>
       
    </section>
{% endblock %}

{% block js %}{% endblock %}