{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_img }}banner-main3.png');">
 		<div class="banner-caption">
 			<h2>แม่และลูก</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section id="news" class="content-p-top">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-8 news-wrapper order-2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail') }}">
                                 <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                                 <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                                 <p class="color-violet2">อ่านเพิ่ม <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail') }}">
                                 <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                                 <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                                 <p class="color-violet2">อ่านเพิ่ม <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                          <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                          <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                          <a href="{{ base_url('momandkids/detail') }}" class="">อ่านเพิ่ม</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail') }}">
                                 <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                                 <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                                 <p class="color-violet2">อ่านเพิ่ม <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail') }}">
                                 <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                                 <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                                 <p class="color-violet2">อ่านเพิ่ม <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card" >
                        <div class="card-img">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <div class="news-date">
                               <div> 07 <br> ม.ค</div>
                            </div>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail') }}">
                                 <h5 class="card-title">โลเล็ม อิปซัม (lorem ipsum)</h5>
                                 <p class="card-text">เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดง สำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า ข้อความโลเร็ม ...</p>
                                 <p class="color-violet2">อ่านเพิ่ม <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row news-result mt-4">
                  <div class="col">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1">ย้อนกลับ</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link " href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">ถัดไป <img src="{{ link_img }}icon/icon-right.png"></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col text-right"><span>Page 1 of 60 results</span></div>
                </div>
            </div><!-- right -->
            <div class="col-md-4 order-1 c-left">
                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">ค้นหาบทความ</h5>
                    <input type="text" class="form-custom search" id="" placeholder="ค้นหาโรงพยาบาล">
                  </div>
                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">หมวดหมู่บทความ</h5>
                  </div>

                  <div>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                  </div>
                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">บทความล่าสุด</h5>
                  </div>

                  <div class="news-recent">
                    <div class="media">
                      <img width="100" class="mr-3" src="{{ link_img }}new1.png" alt="">
                      <div class="media-body">
                        <h5 class="mt-0">2 June 2017</h5>
                        <p>เป็นข้อความแทนที่ (placeholder </p>
                        <a href="#" class="">อ่านเพิ่ม</a>
                      </div>
                    </div>
                  </div>

                  <div class="news-recent">
                    <div class="media">
                      <img width="100" class="mr-3" src="{{ link_img }}new1.png" alt="">
                      <div class="media-body">
                        <h5 class="mt-0">2 June 2017</h5>
                        <p>เป็นข้อความแทนที่ (placeholder </p>
                        <a href="#" class="">อ่านเพิ่ม</a>
                      </div>
                    </div>
                  </div>

                  <div class="news-recent">
                    <div class="media">
                      <img width="100" class="mr-3" src="{{ link_img }}new1.png" alt="">
                      <div class="media-body">
                        <h5 class="mt-0">2 June 2017</h5>
                        <p>เป็นข้อความแทนที่ (placeholder </p>
                        <a href="#" class="">อ่านเพิ่ม</a>
                      </div>
                    </div>
                  </div>

                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">ปีที่โพสต์</h5>
                  </div>

                  <div>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                  </div>
                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">โฆษณา</h5>
                  </div>

                  <div>
                    <div class="owl-carousel owl-theme">
                        <div class="item"><img src="{{ link_img }}new1.png"></div>
                        <div class="item"><img src="{{ link_img }}new1.png"></div>
                        <div class="item"><img src="{{ link_img }}new1.png"></div>
                    </div>
                  </div>
                </div><!-- news-group -->


            </div><!-- left -->
          </div>


        </div>
          
     </div>
     
  </section>
{% endblock %}

{% block js %}
  <script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
  </script>
{% endblock %}