{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_img }}banner-main3.png');">
 		<div class="banner-caption">
 			<h2>แม่และลูก</h2>
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section id="news" class="content-p-top">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-8 news-wrapper order-2">
                <div class="row">
                  <div class="col-md-12">
                      <h3 class="color-violet2">{{ attribute(detail,'title_'~lang) }}</h3>
                      <div class="b-custom">
                        <div class="row">
                          <div class="col-sm-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{{ base_url('momandkids') }}">{{ label('momandkids') }}</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">{{ attribute(cate,'name_'~lang) }}</li>
                                </ol>
                            </nav>
                          </div>
                          
                        </div>
                        

                        
                      </div>
                      <div class="detail">
                        <img class="img-fluid" src="{{ base_url('upload/fullsize/news/')~detail.img }}">
                          <div class="row">
                          <div class="col-sm-12">
                            <ul class="list-inline mt-3">
                              <li class="list-inline-item">
                                <img  src="{{ link_img }}icon/icon-clock.png">
                              </li>
                              <li class="list-inline-item "><span class="color-violet2">{{ detail.date|date('j F Y') }}</span></li>
                              
                            </ul>
                          </div>

                        </div>
                          

                          <h5 class="color-violet2">{{ attribute(detail,'title_'~lang) }}</h5>

                          <div>
                            {{ attribute(detail,'desc_'~lang)|raw }}


                          </div>

                          <div class="social-share mt-3">
                              <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
                              <a target="_blank" href="http://www.facebook.com/sharer.php?u={{current_url}}" class="share-facebook">
                                <span class="icon icon-facebook" aria-hidden="true"></span>
                                <span class="share-title">Share</span>
                              </a>

                              <!-- https://dev.twitter.com/docs/intents -->
                              <a target="_blank" href="http://twitter.com/share?url={{current_url}}" class="share-twitter">
                                <span class="icon icon-twitter" aria-hidden="true"></span>
                                <span class="share-title">Tweet</span>
                              </a>

                              <!-- https://developers.google.com/+/web/share/ -->
                              <a target="_blank" href="http://plus.google.com/share?url={{current_url}}" class="share-google">
                                <span class="icon icon-google" aria-hidden="true"></span>
                                <span class="share-title">+1</span>
                              </a>
                            </div>

                          {# <div class="card-img mt-4 mb-3">
                            <img class="card-img-top" src="{{ link_img }}new1.png" alt="Card image cap">
                            <a href="#" class="news-date play">
                               <div><img src="{{ link_img }}icon/icon-play.png"></div>
                            </a>
                          </div>

                          <h5 class="color-violet2 ">“Incubator innovator crowdfunding bandwidth sales A/B”</h5>

                          <div>
                            Interaction design success early adopters angel investor metrics. Startup value and proposition branding stealth marketing early adopters scrum project learning curve monetization.
                          </div> #}
                      </div>

                      <div class="detail-tag mt-5 mb-4">
                        <h4 class="color-violet2"><span>Tags :</span></h4>
                        {% if tag %}
                        {% set tag = attribute(detail, 'tags_'~lang)|split(',') %}
                      
                        {% for item in tag %}

                          <a class="btn-tag"  href="#">{{item}}</a>

                        {% endfor %}
                        {% endif %}

                      </div>

                      <div>
                        <div class="fb-comments" data-href="http://localhost/prakundek/momkids-detail.php#" data-width="100%" data-numposts="3"></div>
                      </div>

                      <div class="page row mt-4">
                       
                        <div class="col-6 text-left">
                        {% if get_link.prevValue  %}
                          <a class="color-violet2" href="{{ base_url('momandkids/detail')~'/'~get_link.prevValue }}"><img src="{{ link_img }}icon/icon-left.png"> {{ label('prev') }}</a>
                        {% endif %}
                        </div>
                         
                        
                        <div class="col-6 text-right">
                        {% if get_link.nextValue  %}
                          <a class="color-violet2" href="{{ base_url('momandkids/detail')~'/'~get_link.nextValue }}">{{ label('next') }} <img src="{{ link_img }}icon/icon-right.png"></a>
                        {% endif %}
                        </div>
                        
                      </div>
                  </div>
                  
                </div>
            </div><!-- right -->
            <div class="col-md-4 order-1 c-left">
                

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('relate_news') }}</h5>
                  </div>

                  <div>
                  
                    {% if relate_news %}
                    {% for value1 in relate_news  %}

                    <div class="card">
                      <div class="">
                        <a href="{{ base_url('momandkids/detail/')~value1.id }}"><img class="card-img-top" src="{{ base_url('upload/fullsize/news/')~value1.img }}" alt="Card image cap"></a>
                        <div class="card-body">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <img src="{{ link_img }}icon/icon-clock.png">
                            </li>
                            <li class="list-inline-item">{{ value1.date|date('j F Y') }}</li>
                            
                          </ul>

                          <a href="{{ base_url('momandkids/detail/')~value1.id }}">
                            {{ attribute(value1,'title_'~lang) }}
                          </a>

                          
                        </div>
                      </div>
                    </div>
                      {% endfor %}
                    {% endif %}

                    

                  </div>
                </div><!-- news-group -->

                {% if ads %}
                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('ads') }}</h5>
                  </div>

                  <div>
                    <div class="owl-carousel owl-theme">
                        {% for value in ads %}
                        <div class="item"><a target="_blank" href="{{value.link}}"><img src="{{ base_url('upload/fullsize/adv/')~value.img }}"></a></div>
                        {% endfor %}
                        
                    </div>
                  </div>
                </div><!-- news-group -->
                {% endif %}


            </div><!-- left -->
          </div>


        </div>
          
     </div>
     
  </section>
{% endblock %}
{% block js %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1199685340079664&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>

    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
  </script>
{% endblock %}