{% extends "layout.twig" %}

{% block content %}
 	<section class="banner" style="background-image: url('{{ link_img }}banner-main3.png');">
 		<div class="banner-caption">
 			<h2>แม่และลูก</h2>
       {% if title_cate %}
          <h3>{{ attribute(title_cate,'name_'~lang)  }}</h3>
       {% endif %}
 		</div>
 		<div class="overlay"></div>
 	</section>
  <section id="news" class="content-p-top">
        <div class="container">
        
          <div class="row d-flex">
          
            <div class="col-md-8 news-wrapper order-2">
                
                <div class="row">
                  {% for value in results %}
                  <div class="col-md-6">
                    <div class="card"  data-filter="{{ attribute(value, 'title_'~lang) }}" >
                        <div class="card-img">
                        <a href="{{ base_url('momandkids/detail/')~value.id }}">
                            <img class="card-img-top" src="{{ base_url('upload/fullsize/news/')~value.img }}" alt="Card image cap">
                            <div class="news-date">
                               <div> {{ value.date|date('d') }} <br> {{ value.date|date('F') }} </div>
                            </div>
                        </a>
                        </div>
                        <div class="card-body text-left">
                            <a href="{{ base_url('momandkids/detail/')~value.id }}">
                                 <h5 class="card-title">{{ attribute(value,'title_'~lang)  }}</h5>
                                 <p class="card-text">{{ attribute(value,'caption_'~lang)|slice(0, 120) ~ '...' }}</p>
                                 <p class="color-violet2">{{ label('readmore') }} <img src="{{ link_img }}icon/icon-right.png"></p>
                            </a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}


                </div>
                {% if pagination %}
                <div class="row news-result mt-4">
                  <div class="col">
                                   
                      {{pagination|raw}}
                
                  </div>
                  <div class="col text-right"><span>Page {{ link }} of {{ all|number_format }} results</span></div>
                </div>
                 {% endif %}

                 
            </div><!-- right -->
            <div class="col-md-4 order-1 c-left">
                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('search_news') }}</h5>
                    <form id="input-filter" method="post" action="{{ base_url('momandkids/search') }} ">
                      {# <input name="keyword" type="text" class="form-custom search" id="input-filter" placeholder="ค้นหาบทความ"> #}

                      <div class="input-group mb-3">
                        <input name="keyword" type="text" class="form-control form-custom search"  placeholder="{{ label('search_news') }}" aria-label="ค้นหาบทความ" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="click">{{ label('search') }}</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('cate_news') }}</h5>
                  </div>
              
                  <div>
                    {% for key, value in cate %}
                      <p><a href="{{ base_url('momandkids/category/')~value.id }}"> {{ attribute(value,'name_'~lang) }}<span class="color-violet2 float-right">({{value.total}})</span></a></p>
                    {% endfor %}
                    {# <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p> #}
                  </div>
                </div><!-- news-group -->

                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('recent_news') }}</h5>
                  </div>
                  {% for value in news_lastest %}
                  <div class="news-recent">
                    <div class="media">
                      <img width="100" class="mr-3" src="{{ base_url('upload/fullsize/news/')~value.img }}" alt="">
                      <div class="media-body">
                        <a href="{{ base_url('momandkids/detail/')~value.id }}" class="">
                        <h5 class="mt-0">{{ value.date|date('j F Y') }}</h5>
                        <p>{{ attribute(value,'title_'~lang)|slice(0, 40) ~ '...' }}</p>
                        </a>
                        <a href="{{ base_url('momandkids/detail/')~value.id }}" class="">อ่านเพิ่ม</a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}



                </div><!-- news-group -->

                {# <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">ปีที่โพสต์</h5>
                  </div>

                  <div>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                    <p><a href="#">โลเล็ม อิปซัม. <span class="color-violet2 float-right">(07)</span></a></p>
                  </div>
                </div> #}
                {% if ads %}
                <div class="news-group">
                  <div class="title line">
                    <h5 class="color-violet2">{{ label('ads') }}</h5>
                  </div>

                  <div>
                    <div class="owl-carousel owl-theme">
                        {% for value in ads %}
                        <div class="item"><a target="_blank" href="{{value.link}}"><img src="{{ base_url('upload/fullsize/adv/')~value.img }}"></a></div>
                        {% endfor %}
                        
                    </div>
                  </div>
                </div><!-- news-group -->
                {% endif %}


            </div><!-- left -->
          </div>


        </div>
          
     </div>
     
  </section>
{% endblock %}

{% block js %}
  <script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
  </script>

  <script>
    (function(){
       $('.search-result').hide();
      $('#input-filter').submit(function(event){
         event.preventDefault();
        var url = $(this).attr('action');
       // var val = $('.search').val();

        var data = {
            'keyword': $('.search').val(),
        }


        $.ajax({
        url: url,
        type: "post",
        data: data
        }).done(function(res)
        { 
          console.log(res);
          if(res != 0){
             $('.news-wrapper').html(res);
          }else{
            $('.news-wrapper').html(res);
            $('.search-result').show();
          }
         
        });

      });

      
    })();
  </script>
{% endblock %}