<form class="form-submit-table" data-table="box-table-company" action="{{ base_url('backend/contact/setCompany') }}" method="post">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="80">ลำดับ</th>
                    <th>รูปภาพ</th>
                    <th>หัวข้อ</th>
                    <th>เกริ่นนำ</th>
                    <th class="text-center" width="120">แสดงหน้าเว็บ</th>
                    <th class="text-center" width="120"></th>
                </tr>
            </thead>
            <tbody>
                {% if company|length == 0 %}<td colspan="6" align="center">ยังไม่มีข้อมูล</td>{% endif %}
                {% for key, value in company %}
                <tr>
                    <td>
                        <input type="text" class="seq" name="seq[{{ key }}]" value="{{ value.seq }}">
                        <input type="hidden" name="id[{{ key }}]" value="{{ value.id }}">
                    </td>
                    <td>
                        {% if value.img|trim == '' %}
                            -
                        {% else %}
                            <img src="{{ link_company~value.img }}" height="35">
                        {% endif %}
                    </td>
                    <td>{{ value.title_th }}</td>
                    <td>{{ value.caption_th }}</td>
                    <td align="center">
                        <div class="checkbox checkbox-purple">
                            <input class="on-check" id="checkbox{{ key }}" name="status[{{ key }}]" type="checkbox" {{ value.status == 1 ? 'checked' : '' }}>
                            <label for="checkbox{{ key }}"></label>
                        </div>
                    </td>
                    <td class="actions">
                        <a href="{{ base_url('backend/contact/editCompany/')~value.id }}" data-form="box-form-company" class="on-default edit-row on-edit"><i class="md md-edit"></i></a>
                        <a href="{{ base_url('backend/contact/deleteCompany/')~value.id }}" class="on-default remove-row on-delete"><i class="md md-delete"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if company|length > 0 %}
    <div class="text-right">
        <button type="submit" class="btn btn-white waves-effect waves-light w-lg">บันทึกการเปลี่ยนแปลง</button>
    </div>
    {% endif %}
</form>