<form class="form-submit form-company" data-table="box-table-company" action="{{ mode == 'add' ? base_url('backend/contact/addCompany') : base_url('backend/contact/editCompany') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ data.id }}">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="preview company_people" style="background-image:url('{{ link_company~data.img }}')">
                <div class="text">
                    <i class="fa fa-photo"></i>
                    <p>395 x 440</p>
                </div>
                <input type="file" accept="image/*" name="img[]">
            </div>
        </div>
    </div>
    <br>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">หัวข้อ : </label>
            <div class="col-md-10">
                <div class="row_half">
                    <div class="col_half">
                        <input name="title_th" value="{{ data.title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                    </div>
                    <div class="col_half">
                        <input name="title_en" value="{{ data.title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">เกริ่นนำ : </label>
            <div class="col-md-10 ">
                <div class="row_half">
                    <div class="col_half">
                        <textarea name="caption_th" class="form-control" placeholder="กรุณาใส่ภาษาไทย">{{ data.caption_th }}</textarea>
                    </div>
                    <div class="col_half">
                        <textarea name="caption_en" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.caption_en }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ชื่อ : </label>
            <div class="col-md-10 ">
                <div class="row_half">
                    <div class="col_half">
                        <input name="name_th" value="{{ data.name_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                    </div>
                    <div class="col_half">
                        <input name="name_en" value="{{ data.name_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ตำแหน่ง : </label>
            <div class="col-md-10 ">
                <div class="row_half">
                    <div class="col_half">
                        <input name="position_th" value="{{ data.position_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                    </div>
                    <div class="col_half">
                        <input name="position_en" value="{{ data.position_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">เนื้อหา : </label>
            <div class="col-md-10 ">
                <div class="row_half">
                    <div class="col_half">
                        <textarea name="desc_th" class="form-control editor" placeholder="กรุณาใส่ภาษาไทย">{{ data.desc_th }}</textarea>
                    </div>
                    <div class="col_half">
                        <textarea name="desc_en" class="form-control editor" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.desc_en }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ที่อยู่ : </label>
            <div class="col-md-10 ">
                <div class="row_half">
                    <div class="col_half">
                        <textarea name="address_th" class="form-control" placeholder="กรุณาใส่ภาษาไทย">{{ data.address_th }}</textarea>
                    </div>
                    <div class="col_half">
                        <textarea name="address_en" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.address_en }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">เบอร์ : </label>
            <div class="col-md-10 ">
                <input name="tel" value="{{ data.tel }}" type="tel" class="form-control" placeholder="กรุณาใส่เบอร์">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">อีเมล : </label>
            <div class="col-md-10 ">
                <input name="email" value="{{ data.email }}" type="email" class="form-control" placeholder="กรุณาใส่อีเมล">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">เว็บไซต์ : </label>
            <div class="col-md-10 ">
                <input name="link" value="{{ data.link }}" type="url" class="form-control" placeholder="กรุณาใส่เว็บไซต์">
            </div>
        </div>
    </div>
    {% if mode == 'edit' %}
    <div class="text-center mt-20">
        <button type="button" class="btn btn-white waves-effect waves-light w-lg on-cancel">ยกเลิก</button>
        <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">แก้ไข</button>
    </div>
    {% else %}
    <div class="text-center mt-20">
        <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">+ เพิ่ม</button>
    </div>
    {% endif %}
</form>