{% extends "layout_backend.twig" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title">เนื้อหา</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body">
                        <form class="row form-submit-update" action="{{ base_url('backend/contact/editContact') }}" method="post" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <div class="preview cover_banner" style="background-image: url('{{ link_cover~cover.img }}')">
                                    <div class="text">
                                        <i class="fa fa-photo"></i>
                                        <p>1920 x 440</p>
                                    </div>
                                    <input type="file" accept="image/*" name="c_img[]">
                                </div>
                                <br>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ข้อความแบนเนอร์ : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input name="c_title_th" value="{{ cover.title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input name="c_title_en" value="{{ cover.title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">หัวข้อ : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input name="title_th" value="{{ data.title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input name="title_en" value="{{ data.title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เนื้อหา : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea name="subtitle_th" class="form-control" placeholder="กรุณาใส่ภาษาไทย">{{ data.title_en }}</textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea name="subtitle_en" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.title_en }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ที่อยู่บริษัท : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea name="address_th" class="form-control" placeholder="กรุณาใส่ภาษาไทย">{{ data.address_th }}</textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea name="address_en" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.address_en }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เวลาทำการ : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea name="time_th" class="form-control" placeholder="กรุณาใส่ภาษาไทย">{{ data.time_th }}</textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea name="time_en" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ data.time_en }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ติดต่อเรื่องเคลม : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input name="claim_tel" value="{{ data.claim_tel }}" type="text" class="form-control" placeholder="กรุณาใส่เบอร์ติดต่อ">
                                                </div>
                                                <div class="col_half">
                                                    <input name="claim_link" value="{{ data.claim_link }}" type="url" class="form-control" placeholder="กรุณาใส่ลิ้งเว็บไซต์">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เบอร์ติดต่อ : </label>
                                        <div class="col-md-10">
                                            <input name="tel" value="{{ data.tel }}" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fackbook : </label>
                                        <div class="col-md-10">
                                            <input name="facebook" value="{{ data.facebook }}" type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Line : </label>
                                        <div class="col-md-10">
                                            <input name="line" value="{{ data.line }}" type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Twitter : </label>
                                        <div class="col-md-10">
                                            <input name="twitter" value="{{ data.twitter }}" type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Instagram : </label>
                                        <div class="col-md-10">
                                            <input name="instagram" value="{{ data.instagram }}" type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">E-mail : </label>
                                        <div class="col-md-10">
                                            <input name="email" value="{{ data.email }}" type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-5">
                                    <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">บันทึก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">ข้อความเกริ่นนำ</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-submit-update form-horizontal" action="{{ base_url('backend/contact/setHeadline') }}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="h_position" value="{{ headline.position }}">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">หัวข้อ : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input name="h_title_th" value="{{ headline.title_th }}" type="text" class="form-control" placeholder="หัวข้อภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input name="h_title_en" value="{{ headline.title_en }}" type="text" class="form-control" placeholder="หัวข้อภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เนื้อหา : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea name="h_subtitle_th" rows="6" class="form-control no-resize" placeholder="เนื้อหาภาษาไทย">{{ headline.subtitle_th }}</textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea name="h_subtitle_en" rows="6" class="form-control no-resize" placeholder="เนื้อหาภาษาอังกฤษ">{{ headline.subtitle_en }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">บันทีก</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">ตัวแทน</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-company" data-load="{{ base_url('backend/contact/addCompany') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-company" data-load="{{ base_url('backend/contact/tableCompany') }}"></div>
                        </div>
                    </div>
                    {# <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <div class="preview company_people">
                                            <div class="text">
                                                <i class="fa fa-photo"></i>
                                                <p>395 x 440</p>
                                            </div>
                                            <input type="file" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">หัวข้อ : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เกริ่นนำ : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea class="form-control" placeholder="กรุณาใส่ภาษาไทย"></textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ชื่อ : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ตำแหน่ง : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เนื้อหา : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea class="form-control editor" placeholder="กรุณาใส่ภาษาไทย"></textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea class="form-control editor" placeholder="กรุณาใส่ภาษาอังกฤษ"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">ที่อยู่ : </label>
                                        <div class="col-md-10 ">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <textarea class="form-control" placeholder="กรุณาใส่ภาษาไทย"></textarea>
                                                </div>
                                                <div class="col_half">
                                                    <textarea class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เบอร์ : </label>
                                        <div class="col-md-10 ">
                                            <input type="tel" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">อีเมล : </label>
                                        <div class="col-md-10 ">
                                            <input type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">เว็บไซต์ : </label>
                                        <div class="col-md-10 ">
                                            <input type="url" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-inverse waves-effect waves-light w-lg">+ เพิ่ม</button>
                                </div>
                            </div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="80">ลำดับ</th>
                                                <th>รูปภาพ</th>
                                                <th>หัวข้อ</th>
                                                <th>เกริ่นนำ</th>
                                                <th class="text-center" width="120">แสดงหน้าเว็บ</th>
                                                <th class="text-center" width="120"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="seq">
                                                </td>
                                                <td><img src="{{ link_img }}staff1.png" height="35"></td>
                                                <td>หัวข้อ</td>
                                                <td>โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดงสำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า</td>
                                                <td align="center">
                                                    <div class="checkbox checkbox-purple">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td class="actions">
                                                    <a href="#" class="on-default edit-row"><i class="md md-edit"></i></a>
                                                    <a href="#" class="on-default remove-row"><i class="md md-delete"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="seq">
                                                </td>
                                                <td><img src="{{ link_img }}staff2.png" height="35"></td>
                                                <td>หัวข้อ</td>
                                                <td>โลเล็ม อิปซัม (lorem ipsum) — เป็นข้อความแทนที่ (placeholder text) ใช้เพื่อลดความสนใจต่อข้อความที่นำมาแสดงสำหรับการแสดงลักษณะของ ฟอนต์ การพิมพ์และการจัดหน้า</td>
                                                <td align="center">
                                                    <div class="checkbox checkbox-purple">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td class="actions">
                                                    <a href="#" class="on-default edit-row"><i class="md md-edit"></i></a>
                                                    <a href="#" class="on-default remove-row"><i class="md md-delete"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}