{% extends "layout_backend.twig" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title">แบนเนอร์</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-banner" data-load="{{ base_url('backend/home/addBanner') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-banner" data-load="{{ base_url('backend/home/tableBanner') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">ประกันลูกดอทคอม</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-home" data-load="{{ base_url('backend/home/addHome') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-home" data-load="{{ base_url('backend/home/tableHome') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">รีวิวจากลูกค้า</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12 text-center box-form box-form-review" data-load="{{ base_url('backend/home/addReview') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-review" data-load="{{ base_url('backend/home/tableReview') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}