{% extends "layout_backend.twig" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">แบนเนอร์</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-banner" data-load="{{ base_url('backend/home/addBanner') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-banner" data-load="{{ base_url('backend/home/tableBanner') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">ประกันลูกดอทคอม</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-home" data-load="{{ base_url('backend/home/addHome') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-home" data-load="{{ base_url('backend/home/tableHome') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title">รีวิวจากลูกค้า</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 box-form box-form-review" data-load="{{ base_url('backend/home/addReview') }}"></div>
                            <div class="col-md-12"><br><br></div>
                            <div class="col-md-12 box-table box-table-review" data-load="{{ base_url('backend/home/tableReview') }}"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                                    <div class="in_thumb">
                                        <div class="clearfix">
                                            <div class="preview home_icon">
                                                <div class="text">
                                                    <i class="fa fa-photo"></i>
                                                    <p>100 x 100</p>
                                                </div>
                                                <input type="file" accept="image/*">
                                            </div>
                                        </div>
                                        <div class="row_half">
                                            <div class="col_half">
                                                <input type="text" class="form-control" placeholder="หัวข้อภาษาไทย">
                                            </div>
                                            <div class="col_half">
                                                <input type="text" class="form-control" placeholder="หัวข้อภาษาอังกฤษ">
                                            </div>
                                        </div>
                                        <div class="row_half mt-5">
                                            <div class="col_half">
                                                <input type="text" class="form-control" placeholder="หัวข้อย่อยภาษาไทย">
                                            </div>
                                            <div class="col_half">
                                                <input type="text" class="form-control" placeholder="หัวข้อย่อยภาษาอังกฤษ">
                                            </div>
                                        </div>
                                        <div class="row_half mt-5">
                                            <div class="col_half">
                                                <textarea class="form-control no-resize" rows="3" placeholder="รีวิวภาษาไทย"></textarea>
                                            </div>
                                            <div class="col_half">
                                                <textarea class="form-control no-resize" rows="3" placeholder="รีวิวภาษาอังกฤษ"></textarea>
                                            </div>
                                        </div>
                                        <div class="text-center mt-20">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light w-lg">+ เพิ่ม</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12"><br><br></div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="80">ลำดับ</th>
                                                <th>รูปภาพ</th>
                                                <th>หัวข้อ</th>
                                                <th>หัวข้อย่อย</th>
                                                <th>รีวิว</th>
                                                <th class="text-center"  width="120">แสดงหน้าเว็บ</th>
                                                <th class="text-center"  width="120"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="seq">
                                                </td>
                                                <td><img src="{{ link_img }}avatar.png" height="50"></td>
                                                <td>Card titlea</td>
                                                <td>Card subtitle</td>
                                                <td>Some quick example text to build on the card title and make up the bulk of the card's content.</td>
                                                <td align="center">
                                                    <div class="checkbox checkbox-purple">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td class="actions">
                                                    <a href="#" class="on-default edit-row"><i class="md md-edit"></i></a>
                                                    <a href="#" class="on-default remove-row"><i class="md md-delete"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="seq">
                                                </td>
                                                <td><img src="{{ link_img }}avatar.png" height="50"></td>
                                                <td>Card titlea</td>
                                                <td>Card subtitle</td>
                                                <td>Some quick example text to build on the card title and make up the bulk of the card's content.</td>
                                                <td align="center">
                                                    <div class="checkbox checkbox-purple">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td class="actions">
                                                    <a href="#" class="on-default edit-row"><i class="md md-edit"></i></a>
                                                    <a href="#" class="on-default remove-row"><i class="md md-delete"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right mt-20">
                                    <button type="button" class="btn btn-inverse waves-effect waves-light w-lg">บันทึกการเปลี่ยนแปลง</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
(function(){
console.log(1);
})();
</script>
{% endblock %}