{% extends "layout_backend.twig" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title">แบนเนอร์</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body">
                        <form class="row form-submit-update" action="{{ base_url('backend/plan/setCover') }}" method="post" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <input type="hidden" name="position" value="{{ cover.position }}">
                                <div class="preview cover_banner" style="background-image: url('{{ link_cover~cover.img }}')">
                                    <div class="text">
                                        <i class="fa fa-photo"></i>
                                        <p>1920 x 580</p>
                                    </div>
                                    <input type="file" accept="image/*" name="img[]">
                                </div>
                               <br>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">หัวข้อ : </label>
                                        <div class="col-md-10">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input name="title_th" value="{{ cover.title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input name="title_en" value="{{ cover.title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-5">
                                    <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">บันทึก</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">รายละเอียด</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <form class="row form-submit-update" action="{{ base_url('backend/plan/setContent') }}" method="post" enctype="multipart/form-data">
                            <div class="row in_caption">
                                <input type="hidden" name="id[]" value="{{ content[0].id }}">
                                <div class="col-md-6">
                                    <div class="preview" style="background-image: url('{{ link_plan~content[0].img }}')">
                                        <div class="text">
                                            <i class="fa fa-photo"></i>
                                            <p>540 x 360</p>
                                        </div>
                                        <input type="file" accept="image/*" name="img[]">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div role="form">
                                        <div class="form-group">
                                            <label>หัวข้อ: </label>
                                            <div class="row_half">
                                                <div class="col_half"><input name="title_th[]" value="{{ content[0].title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย"></div>
                                                <div class="col_half"><input name="title_en[]" value="{{ content[0].title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>เนื้อหา (ไทย) : </label>
                                            <textarea name="desc_th[]" class="text-only2 form-control" placeholder="กรุณาใส่ภาษาไทย">{{ content[0].desc_th }}</textarea>
                                            <label>เนื้อหา (Eng) : </label>
                                            <textarea name="desc_en[]" class="text-only2 form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ content[0].desc_en }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row in_caption">
                                <input type="hidden" name="id[]" value="{{ content[1].id }}">
                                <div class="col-md-6">
                                    <div role="form">
                                        <div class="form-group">
                                            <label>หัวข้อ: </label>
                                            <div class="row_half">
                                                <div class="col_half"><input name="title_th[]" value="{{ content[1].title_th }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาไทย"></div>
                                                <div class="col_half"><input name="title_en[]" value="{{ content[1].title_en }}" type="text" class="form-control" placeholder="กรุณาใส่ภาษาอังกฤษ"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>เนื้อหา (ไทย) : </label>
                                            <textarea name="desc_th[]" class="text-only2 form-control" placeholder="กรุณาใส่ภาษาไทย">{{ content[0].desc_th }}</textarea>
                                            <label>เนื้อหา (Eng) : </label>
                                            <textarea name="desc_en[]" class="text-only2 form-control" placeholder="กรุณาใส่ภาษาอังกฤษ">{{ content[0].desc_en }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="preview" style="background-image: url('{{ link_plan~content[1].img }}')">
                                        <div class="text">
                                            <i class="fa fa-photo"></i>
                                            <p>540 x 360</p>
                                        </div>
                                        <input type="file" accept="image/*" name="img[]">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="text-right">
                                <button type="submit" class="btn btn-inverse waves-effect waves-light w-lg">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading closed">
                        <h3 class="panel-title">แพ็คเกจ</h3>
                        <i class="fa fa-angle-down tab-icon"></i>
                    </div>
                    <div class="panel-body closed">
                        <div class="box-form box-form-package" data-load="{{ base_url('backend/plan/setPackage') }}"></div>
                        {# <div class="text-right">
                            <button type="button" class="btn btn-dribbble waves-effect waves-light" onclick="addPackage()">
                                <span class="btn-label"><i class="fa fa-plus-circle"></i></span> เพิ่มแพ็คเกจ
                            </button>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12 box_package">
                                <div class="portlet">
                                    <div class="portlet-heading portlet-default">
                                        <div class="portlet-title text-dark in_packname" data-toggle="collapse" data-parent="#accordion0" class="collapsed" aria-expanded="false">
                                            <input type="text" class="seq form-control" maxlength="2" value="0">
                                            <div class="row_half">
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="แพ็คเกจภาษาไทย">
                                                </div>
                                                <div class="col_half">
                                                    <input type="text" class="form-control" placeholder="แพ็คเกจภาษาอังกฤษ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-widgets">
                                            <a data-toggle="collapse" data-parent="#accordion0" href="#pack0" class="collapsed" aria-expanded="false"><i class="ion-minus-round"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="pack0" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="portlet-body">
                                            <div class="in_editor">
                                                <div class="lang">
                                                    <div class="in active">ไทย</div>
                                                    <div class="in">Eng</div>
                                                </div>
                                                <textarea class="editor th"></textarea>
                                                <textarea class="editor en" style="display:none;"></textarea>
                                            </div>
                                            <div class="text-right mt-5">
                                                <button type="button" class="delete_package btn btn-pinterest waves-effect waves-light">
                                                    <i class="fa fa-trash"></i> ลบแพ็คเกจนี้
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right mt-5">
                            <button type="button" class="btn btn-inverse waves-effect waves-light w-lg">บันทึก</button>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}